@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(46, 70, 97);
    color: rgb(244, 248, 255);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}